<div class="container">
	<h1>Consola administrativa</h1>
	<ul>
		<li><%= link_to "Periodos", :periodos %></li>
		<li><%= link_to "Dinosaurios", :dinosaurios %></li>
		<li><%= link_to "Recorridos", :recorridos %></li>
		<li><%= link_to "Preguntas", :preguntas %></li>
		</ul>
</div>