<div id="carousel-home" class="carousel slide" data-ride="carousel" >
	<div class="carousel-inner">
	
		<ol class="carousel-indicators">
			<li data-target="#carousel-home" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-home" data-slide-to="1"></li>
			<li data-target="#carousel-home" data-slide-to="2"></li>
		</ol>
  
		<div class="item active">
			<%= image_tag("carousel_2.jpg", class: "center-block", width:"1200") %>
			<div class="carousel-caption">
				<h3>Explora</h3>
				<p>Participa de los recorridos virtuales y visita lugares tur&iacute;sticos e hist&oacute;ricos</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag("carousel_3.jpg", class: "center-block", width:"1200") %>
			<div class="carousel-caption">
				<h3>Aprende</h3>
				<p>Accede a las aulas virutales y aprende de una manera nunca antes vista</p>
			</div>
		</div>
		<div class="item">
			<%= image_tag("carousel_1.jpg", class: "center-block", width:"1200")%>
			<div class="carousel-caption">
				<h3>Interact&uacute;a</h3>
				<p>Utiliza la realidad virtual para sumergirte en nuevos mundos</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
	<% (1..6).each do %>
		<div class="col-md-4">
			<h2>Cupcake ipsum</h2>
			<p>Cupcake ipsum dolor sit. Amet applicake topping toffee sesame. starling stars cover ice cream topping chocolate bars. </p>
		</div>
		<% end %>
	</div>
</div>