<div id="carousel-home" class="carousel slide" data-ride="carousel" style="margin-top: -50px;">
	<div class="carousel-inner">
	
		<ol class="carousel-indicators">
			<li data-target="#carousel-home" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-home" data-slide-to="1"></li>
			<li data-target="#carousel-home" data-slide-to="2"></li>
		</ol>
  
		<div class="item active fondo-carousel img-carousel-2">
			<div class="carousel-caption">
				<h1>Explora</h1>
				<p>Participa de los recorridos virtuales y visita lugares tur&iacute;sticos e hist&oacute;ricos</p>
			</div>
		</div>
		<div class="item fondo-carousel img-carousel-3">
			<div class="carousel-caption">
				<h1>Aprende</h1>
				<p>Accede a las aulas virutales y aprende de una manera nunca antes vista</p>
			</div>
		</div>
		<div class="item fondo-carousel img-carousel-1">
			<div class="carousel-caption">
				<h1>Interact&uacute;a</h1>
				<p>Utiliza la realidad virtual para sumergirte en nuevos mundos</p>
			</div>
		</div>
	</div>
</div>
<div style="height: 300px; background: #880ce8;">
	<div class="container text-center" style="color:white; font-size:150%;">
		<h1 style="margin-top:100px">Oculus for Education</h1>
		<p>Sistema de aprendizaje mediante realidad virtual</p>
	</div>
</div>

<svg class="decor" height="40px" preserveAspectRatio="none" version="1.1" 
viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
	<path d="M0 0 L50 100 L100 0" stroke-width="0" fill-opacity:"0" stroke-opacity:"0"></path>
</svg>

<script type="text/javascript">
	$('.carousel').carousel({
		interval: 5000,
		pause: false
	});
</script>

<div class="container">
<div class="col-md-12">
<div class="info-inicio">
		<%= image_tag "virtual_reality.jpg", size: '150x150', class: 'pull-right img-circle'%>
		<h2>Realidad virtual</h2>
		<p>Realidad virtual es una ciencia basada en el empleo de ordenadores y otros dispositivos, cuyo fin es producir una apariencia de realidad que permita al usuario tener la sensación de estar presente en ella. Se consigue mediante la generación por ordenador de un conjunto de imágenes que son contempladas por el usuario a través de un dispositivo denominado visor. Algunos de estos pueden ser artefactos colocados en un casco, anteojos (gafas) y hasta equipos integrados por trajes y guantes equipados con sensores diseñados para simular la percepción de diferentes estímulos, mismos que intensifican la sensación de realidad.</p>
	</div>
</div>

<div class="col-md-12">
<div class="info-inicio">
		<%= image_tag "oculus.jpg", size: '150x150', class: 'pull-left img-circle'%>
		<h2>Oculus Rift</h2>
		<p>Oculus Rift es un casco de realidad virtual que está siendo desarrollado por Oculus VR. Durante su periodo como compañía independiente, Oculus VR ha invertido 91 millones de dólares para el desarrollo de Oculus Rift. Actualmente, la versión para el consumidor está prevista para finales del 2014 o principios del 2015.</p>
	</div>
</div>

<div class="col-md-12">
<div class="info-inicio">
		<%= image_tag "jurasico.jpg", size: '150x150', class: 'pull-right img-circle'%>
		<h2>Era Mesozoica</h2>
		<p>Conocida zoológicamente como la era de los dinosaurios o botánicamente como la era de las cícadas, es una división de la escala temporal geológica que se inició hace 251,0 ± 0,4 millones de años y finalizó hace 65,5 ± 0,3 millones de años.2 3 Se denomina Mesozoico porque se encuentra entre las otras dos eras del eón Fanerozoico, la era Paleozoica y la era Cenozoica. El nombre procede del griego μεταξύ, que significa "entre", y ζώο, que significa "animal".</p>
	</div>
</div>
</div>

<svg class="decor" height="40px" preserveAspectRatio="none" version="1.1" 
viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
	<path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
</svg>

<div style="padding-top:150px; background: #880ce8;">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<!-- <ul class="list-inline text-center">
					<li><a target="_blank" href="#" class="boton-social"><i class="fa fa-facebook"></i></a></li>
					<li><a target="_blank" href="#" class="boton-social"><i class="fa fa-twitter"></i></a></li>
					<li><a target="_blank" href="#" class="boton-social"><i class="fa fa-google-plus"></i></a></li>
				</ul> -->
				<div id="text-4" class="sidebar-widget widget_text" style="color:white;">
					<div class="textwidget">OCULUS FOR EDUCATION 2014. TODOS LOS DERECHOS RESERVADOS</div>
				</div>
			</div>
		</div>
	</div>
	<br>

</div>

<%= javascript_tag "initPaginaInicial();" %>