<div id="carousel-home" class="carousel slide" data-ride="carousel" >
	<div class="carousel-inner">
	
		<ol class="carousel-indicators">
			<li data-target="#carousel-home" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-home" data-slide-to="1"></li>
			<li data-target="#carousel-home" data-slide-to="2"></li>
		</ol>
  
		<div class="item active fondo-carousel img-carousel-2">
			<div class="carousel-caption">
				<h1>Explora</h1>
				<p>Participa de los recorridos virtuales y visita lugares tur&iacute;sticos e hist&oacute;ricos</p>
			</div>
		</div>
		<div class="item fondo-carousel img-carousel-3">
			<div class="carousel-caption">
				<h1>Aprende</h1>
				<p>Accede a las aulas virutales y aprende de una manera nunca antes vista</p>
			</div>
		</div>
		<div class="item fondo-carousel img-carousel-1">
			<div class="carousel-caption">
				<h1>Interact&uacute;a</h1>
				<p>Utiliza la realidad virtual para sumergirte en nuevos mundos</p>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('.carousel').carousel({
		interval: 5000,
		pause: false
	});
</script>

<div class="container">
	<div class="row">
	<% (1..6).each do %>
		<div class="col-md-4">
			<h2>Cupcake ipsum</h2>
			<p>Cupcake ipsum dolor sit. Amet applicake topping toffee sesame. starling stars cover ice cream topping chocolate bars. </p>
		</div>
		<% end %>
	</div>
</div>