<div id="carousel-home" class="carousel slide" data-ride="carousel" >
	<div class="carousel-inner">
	
		<ol class="carousel-indicators">
			<li data-target="#carousel-home" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-home" data-slide-to="1"></li>
			<li data-target="#carousel-home" data-slide-to="2"></li>
		</ol>
  
		<div class="item active fondo-carousel img-carousel-2">
			<div class="carousel-caption">
				<h1>Explora</h1>
				<p>Participa de los recorridos virtuales y visita lugares tur&iacute;sticos e hist&oacute;ricos</p>
			</div>
		</div>
		<div class="item fondo-carousel img-carousel-3">
			<div class="carousel-caption">
				<h1>Aprende</h1>
				<p>Accede a las aulas virutales y aprende de una manera nunca antes vista</p>
			</div>
		</div>
		<div class="item fondo-carousel img-carousel-1">
			<div class="carousel-caption">
				<h1>Interact&uacute;a</h1>
				<p>Utiliza la realidad virtual para sumergirte en nuevos mundos</p>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('.carousel').carousel({
		interval: 5000,
		pause: false
	});
</script>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<h2>Realidad virtual</h2>
			<p>Realidad virtual es una ciencia basada en el empleo de ordenadores y otros dispositivos, cuyo fin es producir una apariencia de realidad que permita al usuario tener la sensación de estar presente en ella. Se consigue mediante la generación por ordenador de un conjunto de imágenes que son contempladas por el usuario a través de un dispositivo denominado visor. Algunos de estos pueden ser artefactos colocados en un casco, anteojos (gafas) y hasta equipos integrados por trajes y guantes equipados con sensores diseñados para simular la percepción de diferentes estímulos, mismos que intensifican la sensación de realidad.</p>
		</div>
		<div class="col-md-4">
			<h2>Oculus Rift</h2>
			<p>Oculus Rift es un casco de realidad virtual que está siendo desarrollado por Oculus VR. Durante su periodo como compañía independiente, Oculus VR ha invertido 91 millones de dólares para el desarrollo de Oculus Rift. Actualmente, la versión para el consumidor está prevista para finales del 2014 o principios del 2015.</p>
		</div>
		<div class="col-md-4">
			<h2>Prehistoria</h2>
			<p>Desde el punto de vista más tradicional, se considera que la Prehistoria es una especialidad científica que estudia, por medio de la excavación, los datos de este periodo de la Historia que ha precedido a la invención de la escritura. Los restos arqueológicos son la principal fuente de información y para estudiarlos se utilizan numerosas disciplinas auxiliares, como la física nuclear (para efectuar dataciones absolutas), el análisis por espectrómetro de masas (de componentes líticos, cerámicos o metálicos), la geomorfología, la edafología, la tafonomía, la trazalogía (para las huellas de uso), la paleontología, la paleobotánica, la estadística no paramétrica, la etnografía, la paleoantropología, la topografía y el dibujo técnico, entre otras muchas ciencias y técnicas. De manera que hay un gran número de personas que consideran a la Prehistoria como una especialidad dentro de la Historia, pero mucho más tecnificada y pluridisciplinaria.</p>
		</div>
	<% (1..3).each do %>
		<div class="col-md-4">
			<h2>Cupcake ipsum</h2>
			<p>Cupcake ipsum dolor sit. Amet applicake topping toffee sesame. starling stars cover ice cream topping chocolate bars. </p>
			<p>Cupcake ipsum dolor sit. Amet applicake topping toffee sesame. starling stars cover ice cream topping chocolate bars. </p>
			<p>Cupcake ipsum dolor sit. Amet applicake topping toffee sesame. starling stars cover ice cream topping chocolate bars. </p>
		</div>
		<% end %>
	</div>
</div>