/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min.css
 *= require_tree .
 *= require_self
 */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url(font-path('glyphicons-halflings-regular.eot') + "?#iefix") format('embedded-opentype'),
         url(font-path('glyphicons-halflings-regular.woff')) format('woff'), 
         url(font-path('glyphicons-halflings-regular.ttf'))  format('truetype'),
         url(font-path('glyphicons-halflings-regular.svg') + "#MyFont") format('svg');
}

.inline{
	display: inline-block;
}

input[type="checkbox"]{
	transform: scale(1.5);
}


.carousel-caption{
	background: rgba(0,0,0, .5);
	left: 0;
	right: 0;
	width: 100%;
	font-weight: bold;
}

.dino-logo{
	position: absolute; 
	margin-top:-70px;
	margin-left:-75px;
}

.oculus-logo{
	height: 25px;
	width: 25px;
	background: asset-data-url("Oculus.png");
}

.img-dinosaurio{
	max-width: 50px;
	max-height: 50px;
}

body{
	font-family: 'Varela Round';
}

.loader {
	margin-top: 10px;
	display: none;
	font-weight: bold;
	text-align: center;
	color: white;
  -webkit-animation: spin 700ms infinite linear;
  -moz-animation: spin 700ms infinite linear;
  -ms-animation: spin 700ms infinite linear;    
  animation: spin 700ms infinite linear;
}
@-ms-keyframes spin {
    0% { -ms-transform: rotate(-10deg); }
    50% { -ms-transform: rotate(10deg); }
    100% { -ms-transform: rotate(-10deg); }
}
@-moz-keyframes spin {
    0% { -moz-transform: rotate(-10deg); }
    50% { -moz-transform: rotate(10deg); }
    100% { -moz-transform: rotate(-10deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(-10deg); }
    50% { -webkit-transform: rotate(10deg); }
    100% { -webkit-transform: rotate(-10deg); }
}
@keyframes spin {
    0% { transform:rotate(-10deg); }
    50% { transform:rotate(10deg); }
    100% { transform:rotate(-10deg); }
}

body .modal-dialog {
    /* new custom width */
    width: 70%;
    /* must be half of the width, minus scrollbar on the left (30px) */
    /*margin-left: -280px;*/
}