// Place all the styles related to the Estaciones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.mapa-estaciones{
	background: asset-data-url("mapa_recorrido.jpg");
	margin-right: auto;
	margin-left: auto;
	width:814px;
	height:504px;
	background-size: 814 504px;
	position:relative;
}

.estacion1{
	position:absolute;
	top: 180px;
	left: 235px;
}
.estacion2{
	position:absolute;
	top: 285px;
	left: 235px;
}
.estacion3{
	position:absolute;
	top: 285px;
	left: 350px;
}
.estacion4{
	position:absolute;
	top: 285px;
	left: 475px;
}
.estacion5{
	position:absolute;
	top: 285px;
	left: 600px;
}
.estacion6{
	position:absolute;
	top: 180px;
	left: 600px;
}
.estacion7{
	position:absolute;
	top: 180px;
	left: 475px;
}
.estacion8{
	position:absolute;
	top: 180px;
	left: 350px;
}
.opciones-dinosaurios{
	overflow: auto;
	padding: 18px;
	height: 500px;
	background: rgba(80,10,178, .5);
	border-radius: 5px
}
.opcion-lista{
	border: 1px solid #333;
	padding: 5px;
	margin: 5px;
	background: white;
	/*transition: transform .2s;*/
}
.opcion-lista:hover{
	background-color: #C785F9;
}
.seleccionado{
	background: #880CE8;
	color: white;
}
.link-trucho{
	background: none;
	border:none;
	color: #eeeeee;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: bold;
}