
.img-carousel-1{
	background: asset-data-url("HighresScreenshot00004.jpg");
}
.img-carousel-2{
	background: asset-data-url("HighresScreenshot00003.jpg");
}
.img-carousel-3{
	background: asset-data-url("HighresScreenshot00005.jpg");
}
.fondo-carousel{
	height: 500px;
	/*background-attachment: fixed;*/
	background-size: cover;
}

/*html{
	height: 100%;
}
body{*/
	/*background: asset-data-url("background.png");*/
/*	height: 100%;
	background: linear-gradient(#fff, #86f);
	background-repeat: no-repeat;
	background-attachment: fixed
}*/