// Place all the styles related to the resultados controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.verde{
	color: green;
}

.rojo{
	color:red;
}

.estacion-resultado{
	background-color: white;
	border-radius: 2px;
	padding: 10px !important;
	cursor: pointer;
	margin: 15px;
	box-shadow: 1px 1px 6px #666;
	transition: transform .2s, box-shadow .2s;
}

.estacion-resultado:hover{
	transform: scale(1.01);
	box-shadow: 5px 5px 6px #666;
}

.estacion-seleccionada{
	background-color: #C477FF;
}